#chart,
[id$="_chart"],
.svg-container {
  position: relative;
}

.classic-tabs .nav li:first-child {
  margin-left: unset !important;
}

.classic-tabs .nav li a {
  text-align: unset !important;
  padding: 0.4rem !important;
}

.classic-tabs .nav li a.active {
  border-bottom: unset !important;
}

.classic-tabs .nav li a:not(.active) {
  margin-bottom: unset !important;
}